body {
  background-color: #dcdcdc;
  font-family: Arial, Helvetica, sans-serif;
}

.end {
  color: tomato;
}

h1 {
  font-style: normal;
  font-style: italic;
  text-align: center;
}

h2 {
  font-variant: small-caps;
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 2rem;
  text-align: center;
  color: #8b4513;
}

#html {
  font-size: 18px;
  color: #4b0082;
}

#css {
  font-size: 18px;
  color: #4b0082;
}

#front {
  font-size: 18px;
  color: #4b0082;
}
